# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ojs

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    pln_accepting: true
    
    # maximum deposit file size, in kb
    pln_maxUploadSize: 1000000

    # maximum AU size, in kb
    pln_maxAuSize: 100000000

    pln_uploadChecksumType: SHA-1
    pln_defaultLocale: en-US

    # All deposits to the PLN will use the same journal name, to enable the
    # LOCKSS subscription manager.
    pln_journal_name: PKP PLN Deposits from OJS

    # File path where data will be stored and processed.
    pln_data_dir: data

    # path to clamdscan
    clamdscan_path: /usr/bin/clamdscan

    # URI for LOCKSSOMatic's service document.
    lockssomatic_sd_iri: 'http://localhost:8000/pkppln/web/app.php/api/sword/2.0/sd-iri'

    # Staging Server's UUID for LOCKSSOMatic
    staging_server_uuid: ~

    # Default locale for terms of use
    terms_of_use_default_locale: 'en-US'

    # Number of days a journal can go without contacting the PLN and sill be healthy
    days_silent: 60

    # override the command-line router URL generator.    
    router.request_context.host: localhost:8000/pkppln
    router.request_context.scheme: http
    router.request_context.base_url: /web

    # set to true to save the SWORD deposit document to the file system when
    # creating a deposit in LOM.
    save_deposit_xml: false

    # customize the network message.
    min_ojs_version: 2.4.8.0
    network_accepting: The PKP PLN can accept deposits from this journal.
    network_oldojs: This journal must be running OJS 2.4.8 to make deposits to the PKP PLN.
    network_default: The PKP PLN does not know about this journal yet.

    # remove completed deposits, once LOCKSSOMatic reports 100% agreement.
    remove_complete_deposits: false

    max_harvest_attempts: 5
